* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

//components
@import './styles/Banner';
@import './styles/Footer';
@import './styles/Nav';
@import './styles/Test';
@import './styles/Row';
