.banner {
  height: 77vh;
  position: relative;
  object-fit: contain;
  color: whitesmoke;

  &__contents {
    margin-left: 30px;
    padding-top: 220px;
    height: 100%;

    &__logo {
      max-width: 25%;
      margin-top: 2%;
    }

    &__buttons {
      .banner__button {
        cursor: pointer;
        color: whitesmoke;
        outline: none;
        border: none;
        font-size: 1.3rem;
        font-weight: 700;
        border-radius: 0.2vw;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 1rem;
        padding-top: 0.5rem;
        background-color: rgba(51, 51, 51, 0.5);
        padding-bottom: 0.5rem;
      }
      .banner__button:hover {
        color: #000;
        background-color: #e6e6e6;
        transition: all 0.3s;
      }
    }
    &__slider {
      scroll-behavior: smooth;

      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      margin-top: 1%;
      margin-left: 3%;

      button {
        outline: none;
        background-color: #111;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }

    &__slider::-webkit-scrollbar {
      // width: 10px;
      // height: 10px;
      // border-radius: 15px;
      border: none;
    }

    // &__slider::-webkit-scrollbar-track {
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    // }

    // &__slider::-webkit-scrollbar-thumb {
    //   -webkit-box-shadow: inset 0 0 6px rgba(20, 7, 51, 0.082);
    //   box-shadow: inset 0 0 6px rgba(20, 7, 51, 0.082);
    //   background-color: rgba(252, 249, 249, 0.212);
    //   border-radius: 15px;
    // }

    &__type {
      margin-top: 2%;
      font-size: 2rem;
      color: white;
    }
    &__description {
      width: 50%;
      line-height: 1.3;
      padding-top: 1rem;
      font-size: 1rem;
      max-width: 360px;
      height: 80px;
    }
  }
  .player-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .player__button {
    z-index: 5;
    font-size: 20px;
    color: white;
    background-color: black;
    position: absolute;
    outline: none;
    border: none;
    right: 5px;
    top: 1px;
  }
  .banner--fadeBottom {
    background: linear-gradient(0deg, #0f0f0f 20%, transparent);
    height: 150px;
    position: absolute;
    top: 470px;
    width: 100%;
  }
  @keyframes pop-up {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .pop-up {
    width: 800px;
    height: 90%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    box-shadow: 0px 0px 0px 9999px rgba(17, 17, 17, 0.699);
    animation: pop-up 0.25s ease-in-out;

    &__react-player {
      width: 70rem;
    }
    &__trailer {
      height: 100%;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 1) 90%);
      position: absolute;
      top: 11.5%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    &__close > svg {
      position: absolute;
      top: 0%;
      left: 95%;
      font-size: 32px;
      cursor: pointer;
    }
    &__content {
      background-color: #111;
      padding-left: 5%;
      padding-bottom: 10px;
      margin-top: 9%;

      &__title {
        position: absolute;
        max-width: 45%;
        top: 70%;
      }
      &__buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 95%;
        width: 90%;

        .button-mute {
          display: flex;
          align-items: center;
        }

        .button-mute > svg {
          color: white;
          font-size: 40px;
          border: 1px solid white;
          border-radius: 50%;
          padding: 8px;
          cursor: pointer;
        }
        .button-container {
          display: flex;
          align-items: center;
        }
        .button-container > button {
          padding: 0.4rem 2.5rem;
          border-radius: 5px;
          outline: none;
          border: none;
          cursor: pointer;
          font-weight: 500;
          display: flex;
          align-items: center;
          svg {
            font-size: 30px;
            margin-right: 15px;
          }
        }

        .button-container > svg {
          font-size: 40px;
          border: 1px solid white;
          border-radius: 50%;
          padding: 10px;
          margin-left: 10px;
          cursor: pointer;
        }
      }

      &__description {
        display: flex;
        align-items: center;
      }

      &__description > img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: 5px;
      }

      &__container {
        width: 100%;
        display: flex;

        .description {
          width: 70%;
          line-height: 1.5;
        }
        .genres {
          display: flex;
          flex-wrap: wrap;
          width: 25%;
          align-items: center;
          height: 100%;
          margin-left: 35px;
          line-height: 1.5;
          p {
            color: white;
            font-size: 14px;
          }
          .company {
            margin-top: 10px;
          }
          .gray {
            color: rgb(134, 134, 134);
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    .pop-up {
      width: 550px;
      &__trailer {
        display: none;
      }
      &__react-player {
        height: 40% !important;
      }
      &__content {
        margin-top: 15%;
        padding-bottom: 5%;
        &__title {
          top: 70%;
        }

        &__title {
          display: none;
        }
        &__buttons {
          top: 45%;

          .button-mute {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
          }

          .button-mute > svg {
            color: white;
            font-size: 35px;
            border: 1px solid white;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
          }
          .button-container {
            display: flex;
            align-items: center;
            svg {
              font-size: 35px;
            }
          }
          .button-container > button {
            padding: 8px 4px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            font-weight: 300;
            display: flex;
            align-items: center;
            svg {
              font-size: 20px;
              margin-right: 1px;
            }
          }
        }

        &__container {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .banner {
    .banner--fadeBottom {
      display: none;
    }

    .pop-up {
      width: 350px;
      display: flex;
      flex-direction: column;
      &__react-player {
        height: 45% !important;
      }

      &__close > svg {
        left: 0%;
        top: 2%;
        z-index: 200;
      }
      &__content {
        margin-top: 15%;
        padding-bottom: 10%;
        z-index: 2;

        &__title {
          top: 75%;
        }

        &__trailer {
          display: none;
        }

        &__title {
          display: none;
        }
        &__buttons {
          top: 45%;

          .button-mute {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
          }

          .button-mute > svg {
            color: white;
            font-size: 35px;
            border: 1px solid white;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
          }
          .button-container {
            display: flex;
            align-items: center;
            svg {
              font-size: 35px;
            }
          }
          .button-container > button {
            padding: 10px 6px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            font-weight: 300;
            display: flex;
            align-items: center;
            svg {
              font-size: 20px;
              margin-right: 0px;
            }
          }
        }

        &__container {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
