.main-footer {
  background: black;
  color: gray;
  padding-top: 1em;
  font-size: 12px;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
}

.row {
  display: flex;
  margin-left: 20%;
}

.col__icons {
  font-size: 18px;
}

.col {
  padding-left: 50px;
  padding-right: 50px;
}
.col1 {
  padding-right: 50px;
}

li {
  color: gray;
  cursor: pointer;
  list-style: none;
}

.container__icons {
  display: flex;
  margin-left: 20%;
}

.container__h1 {
  font-size: 30px;
}

.container__h1 > svg {
  margin-right: 10px;
  cursor: pointer;
}
