.main-footer {
  background: black;
  color: gray;
  padding-top: 1em;
  font-size: 12px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col__icons {
  font-size: 18px;
  padding: 5px 5px 5px 0px;
}

.list-unstyled {
  margin-top: 24%;
}

li {
  color: gray;
  list-style: none;
}
