.nav {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.nav__black {
  background: #111;
}

.nav__logo {
  position: fixed;
  left: 0;
  top: 3px;
  width: 110px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.nav__link {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  left: 6rem;
  top: 2.5%;
  text-decoration: none;
}

.nav__link a {
  padding-left: 4rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav__contents__icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.nav__contents__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 5%;
  align-items: center;
  /* border: 1px solid black; */
}

.search-box__icon {
  cursor: pointer;
  width: 30px;
  font-size: 20px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: flex-end;
  color: white;
}
.search-box .search-box__input {
  width: 100%;
  background-color: black;
  outline: none;
  border: 1px solid lightgray;
  color: white;
  padding: 7px 12px;
  margin-right: 10px;
  /* outline: none;
  background: rgba(0, 0, 0, 0.85);
  border: solid 1px rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  padding: 7px 14px 7px 40px;
  width: 0%;
  font-size: 13px;
  color: #fff;
  opacity: 0;
  transition: ease width 1s, ease opacity 1s;
  float: right; */
}
/* .search-box .search-box__icon {
  position: absolute;
  top: 7px;
  color: white;
  z-index: 10;
  cursor: pointer;
  right: 12px;
  transition: ease transform 1s;
  transition-delay: 50ms;
} */
.search-box .active .search-box__icon {
  /* transform: translateX(-214px); */
  width: 100%;
}
.search-box .active .search-box__input {
  background-color: black;
  opacity: 1;
  width: 100%;
  display: block;
}
